<div class="container">
  <nav class="navbar bg-light mb-3">
    <div class="container-fluid">
      <a class="navbar-brand">APP METEO</a>
      <button class="btn btn-outline-info" routerLink="/home">Home</button>
    </div>
  </nav>

  <h2>Latitude: {{ latitude2 }} Longitude: {{ longitude2 }}</h2>

  <p></p>

  <p>Sunrise at: {{ sunPhase.sunrise }}</p>
  <p>Sunset at: {{ sunPhase.sunset }}</p>

  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Hour</th>
        <th scope="col">Temperature</th>
        <th scope="col">Rainfall</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of weather">
        <td>{{ row.timepoint }}</td>
        <td>{{ row.temp2m }}</td>
        <td>{{ row.prec_type }}</td>
      </tr>
    </tbody>
  </table>
</div>
